<header>
    <div class="menuToggle">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div>
        <a href="/"><img src="assets/img/iconMusicr.png" alt="logo Musicr"></a>
    
        <nav>
            <ul>
                <li>Profile</li>
                <li><a href="liked-songs">Liked Songs</a></li>
                <li>Settings</li>
                <li>Log Out</li>
            </ul>
        </nav>
    </div>
</header>


{{!-- <nav>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</nav> --}}