{{> header}}

<div class="banner">
    <img src="assets/img/musicr-header.png" alt="logo Musicr"/>
</div>

<div class="background-wave">
    <svg class="wave-3" xmlns="http://www.w3.org/2000/svg" width="390.211" height="532.35" viewBox="0 0 390.211 532.35">
        <path id="Path_72" data-name="Path 72" d="M10485.211,3633.812s-69.374,0-73.353-44.249-110.538-128.268-159.983-109.477S10095,3335.229,10095,3335.229V3101.462h390.211Z" transform="translate(-10095 -3101.462)" fill="#a293ff"/>
    </svg>

</div>

<h1>Matcher</h1>